html {
    --main-color: #4267B2
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
}

h1 {
    font-size: 25px;
    margin: 0;
}