html {
    --main-color: #4267B2
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 25px;
    margin: 0;
}

nav ul {
    display: flex;
    padding: 0;
}

nav ul li {
    margin-left: 2em;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.header_left {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header_left svg {
    fill: white;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.center700px {
    max-width: 700px;
    margin: 30px auto;
    padding: 10px;
}